/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End reset */

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Condensed&display=swap');

body {
	font-family: 'Roboto Condensed', sans-serif;
	min-width: 100vh;
	margin: 0 auto;
}

h2 {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 28px;
	margin: 0 0 20px;
}

h3 {
	text-transform: uppercase;
	font-weight: 700;
	color: #dd6321;
	margin: 0 0 10px;
}

p {
	font-family: 'Poppins', sans-serif !important;
	line-height: 22px;
	margin: 0 0 20px;
}

img {
    max-width: 100%;
    display: block;
}    

button {
	background: #d4652a;
	color:	#fff;
	text-transform: uppercase;
	font-weight: 800;
	border: none;
	padding: 12px 24px;
}

button:hover {
	background: #dd632160;
}

/******************************** Hero ********************************/

.hero {
	background: url(../src/img/coffee.jpeg) no-repeat center;
	background-size: cover;
	position: relative;
	height: 520px;
}

.hero .hero-filter {
	background: rgba(255, 255, 255, 0.3);
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

.hero .hero-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-text h1 {
	color: #1d2528;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	font-size: 54px;
	font-weight: 600;
	margin: 0 0 20px;
}

.hero-text p {
	width: 90%;
    text-align: center;
}

/******************************** About ********************************/

.about {
	background: #1d2528;
	color: #fff;
	height: 540px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.about .about-text {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about-text p {
	width: 65%;
}

.about .about-icons {
	width: 100%;
	display: flex;
	justify-content: center;
	padding 0;
}

.about-icons li {
	width: 25%;
	color: #985836;
	text-transform: uppercase;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 52px 0 72px;
}

.about-icons li i {
	font-size: 32px;
	margin: 0 0 20px;
}

/******************************** Product ********************************/

.product .product-text-img {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: stretch;
	justify-items: stretch;
}

.product-text-img > .coffee-img {
	grid-column: 1 / 2;
}

.product-text-img > .coffee {
	grid-row: 1;
	grid-column: 2 / 3;
}

.product .product-text {
	color: #1d2528;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}	

.product-text-img .bean {
	padding: 20px 0;
	margin: 0 15%;
}

.product-text-img .coffee {
	background: #ddd8d480;
	padding: 20px;
}

.product-text-img .coffee p {
	width: 80%;
}

.product-text p {
	color: #1d2528;
	margin: 0 0 40px;
}

/******************************** Footer ********************************/

.footer {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.footer .footer-text {
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 10% 15% 15%;
}

.footer .open {
	background: url(../src/img/coffee2.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	width: 100%;
}

.footer .open-filter {
	background: linear-gradient(90deg, #1d2528ef, #1d2528e0);
	position: absolute;
	width: 101%;
	height: 100%;
}

.footer .contact {
	background: #1d2528;
}

/******************************** Media Query ********************************/

@media (max-width: 780px) {

	h2 {
		font-size: 32px;
	}

	h3 {
		font-size: 18px;
	}

	p {
		font-size: 18px;
	}

	.product .product-text-img {
		display: flex;
		flex-direction: column;
		align-items: stretch;
	}

	.product .product-text  {
		background: #fff;
		height: 520px;
		padding: 20px 0;
    	margin: 0 15%;
	}

	.product-text-img .coffee p {
		width: 100%;
	}	
}

/******************************** Media Query ********************************/

@media (max-width: 600px) {

	h2 {
		font-size: 36px;
	}

	h3 {
		font-size: 28px;
	}

	p {
		font-size: 24px;
		line-height: 28px;
	}

	button {
		font-size: 22px;
		padding: 18px 30px;
	}

	.about-text p {
		width: 90%;
	}

	.about-icons li {
		margin: 42px 0 62px;
	}

	.about-icons li i {
		font-size: 42px;
	}

	.footer {
		height: 1100px;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(2, 1fr);
	}

	.footer-text {
		margin: 15% !important;
	}

	.footer .open-filter {
		height: 101%;
		width: 100%;
	}
}
